.hero {
    text-align: center;
    margin-top: 10rem;

    form {
        position: relative;
        display: initial;

        input {
            padding: 1.3rem 1.5rem;
            border-radius: 33px;
            border: 1px solid $sec;
            padding-left: 3rem;
            width: 30%;
            font-family: dana5;
            font-size: 1.1rem;
            background-color: $thirt;
            color: $fifth;
        }

        .submit {
            position: absolute;
            left: 3%;
            bottom: 50%;
            transform: translateY(50%);
            font-size: 1.1rem;
            width: 50px;
            height: 50px;
            background: #00ef74;
            border-radius: 30px;
            padding: 14px;
            padding-right: 15px;
            cursor: pointer;
        }
    }
}

#list {
    padding: 0 5rem;
    margin: 0 8rem;
    margin-top: 2rem;

    li {
        position: relative;
        padding: 1.2rem 0;
        border-radius: 9px;
        cursor: pointer;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        background-color: $thirt;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }

        &.true {
            .head {
                &::after {
                    content: "\ea10";
                    color: #00ef74;
                }
            }
        }

        &.false {
            .head {
                &::after {
                    content: "\ea0f";
                    color: red;
                }
            }
        }

        .head {
            position: relative;
            padding-right: 2rem;

            &::before {
                content: "\e906";
                font-family: "icomoon";
                left: 2%;
                position: absolute;
                font-size: 0.5rem;
                bottom: 50%;
                transform: translateY(50%);
                color: #616161;
            }

            &::after {
                font-family: "icomoon";
                right: 1%;
                position: absolute;
                font-size: 0.8rem;
                bottom: 50%;
                transform: translateY(50%);
            }
        }
    }
}